*.csv
*.pt
*.json

/venv/

/softprompting/test_results/

/dataset/

/embedding_injection/__pycache__/

/embedding_injection/test_results/

embedding_injection_monoenc/test_results/

finetune/test/results/

.directory

*.zip

*.pyc

*.conf