*.csv
*.pt
*.json

/venv/

/softprompting/test_results/

/dataset/

/embedding_injection/__pycache__/


embedding_injection_monoenc/test_results/
embedding_injection_bienc/test_results/
bienc_embedding_glinerev/test_results/

finetune/test/results/

*.code-workspace

.directory

*.zip

*.pyc

*.conf